html{background-color: #ffffff; font-size: 10px; width: 1350px; 
    height: 680px; font-family: "Arial", sans-serif; overflow-x: visible;}
h1{font-size: 40px; text-align: center;}
p{font-size: 12px; line-height: 2px; letter-spacing: 1px;}

body{
    position: relative;
    height: 100%;
    width:100%;
    background-color: #ffffff;
    font-size: small;
    padding:0px 20px 0px 20px; 
    display: block;
    margin: 0% auto;
}
#viewport{
    position: absolute;
    margin: 0% auto;
    width: 100%;
    height: 100%;
    display: block;
    min-width: 40%;
}
#tpbar ul{
    display: block;
    padding: 15px 15px 0px 30px;
    visibility: visible;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    line-height: 30px;
    height: 30px;
    width: 100%;
    min-width: 20%;
    z-index: 987;
    float: right;
    order: 1;
}
#tpbar ul:hover{
    text-decoration: underline 1px #5f6368; 
}
    #sign{
        position: relative;
        align-items: center;
        display: inline-block;
        height: 28px;
        width: 69px;
        line-height: 28px;
        border: 1px solid #4285f4;
        border-radius: 2px;
        opacity: 1;
        font-weight: bold;
        font-size: 13px;
        font-family: arial;
        color: #ffffff;
        white-space: nowrap;
        text-align: center;
        text-decoration: none;
        justify-content: flex-end;
        padding-right: 0px 12px;
        z-index: 986;
        background-color: #1553c5ed;
        background-image: -o-linear-gradient(top #4387fd #4683ae); 
        cursor: default;
    }
    #app-icon{
        
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        opacity: 0.55;
        justify-content: center;
        padding-right: 14px;
        background-color: #ffffff;
        top: 8px;
    }
    #app-icon:hover{
        opacity: 1;
    }
    #image{
        align-items: center;
        width: 43px;
        height: 28px;
        font-weight: normal;
        font-size: 13px;
        font-family: arial;
        color: #222222;
        white-space: nowrap;
        text-align: left;
        text-decoration: none;
        padding-right: 14px;
        background-color: rgb(255, 255, 255); 
        cursor: pointer;
    }
    #image:hover{
        text-decoration: underline 1px black;
    }
    #mail{
        align-items: center;
        width: 34px;
        height: 24px;
        font-size: 13px;
        font-family: arial;
        color: #222222;
        white-space: nowrap;
        text-align: left;
        padding-right: 14px;
        background-color: #ffffff;
        text-decoration: none;
        cursor: pointer;
    }
    #mail:hover{
        text-decoration: underline 1px black;
    }
    @media screen and (max-width: 60%){
        #tpbar ul{
            float: none;
            align-items: center;
        }
    }
        #content{
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            top: 45px;
            padding-bottom: 5px;
            align-items: center;
            
        }
        #frst-pg{
            display: block;
            width: 100%;
            height: 150px;
            position: relative;
            padding-bottom: 15px;
        }
#cntr{
    display: block;
    margin-top: 0%;
    width: 38.92%; 
    height: 255px; 
    min-height: 255px;
    position: relative;
    left: 32.110%;
    align-items: center;
}
@media screen and (max-width: 60%){
    #cntr{
        left: 0%;
        float: left;
    }
}
#topc-pg{
    height: 102px;
    width: 100%;
    padding-top: 0px;
    display: block;
    position: absolute;
    top: 0px;
}
#glogo{
    padding-top: 10px;
    display: block;
    left: 157px;
    position: relative;
    align-items: center;
    width: 212px;
}
#lowc-pg{   
    display: block; 
    width: 100%;
    height: 138px;
    margin-top: 0px; 
    z-index: 175;    
    position: absolute;
    order: 3;
    padding: 15px;
    top: 87px;
    left:-15px;
}
#sform{
    display: block;
    width: 498px;
    height: 39px;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    color: #222222;
    padding: 5px 8px 0px 14px;
    background-color: #ffffff;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-left: 30px;
    margin-right: 30px;
    border-color: rgba(223,225,229,0);
    border: 1px solid #dfe1e5;
    cursor: text;
    top: 0px;
    left: -28px;
    z-index: 700;
    }
    #sform[type="text"]{
        border: 1px solid #dfe1e5;
    }
    #sform:hover{
        box-shadow: 0px 1px 6px 0px rgba(32,33,36,0.28);
    }
    #ginput{
        display: block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 83.156%;
        height: 30px;
        top: 0%;
        left: 40px;
        z-index: 700;
        position: relative;
        border: transparent;
        border-color: #ffffff ;
        outline: none;
    }
    #mic{
        display: flex;
        position: relative;
        cursor: pointer;
        left: 455px;
        top: -25px;
        border: 0;
        background: transparent;
        outline: none;
        padding: 0px 8px;
        width: 24px;
        height: 24px;
        line-height: 44px;
        z-index: 700;    
        align-items: center;
        justify-content: center;
    }
    #text{
        visibility: hidden;
        font-size: small;
        background-color: #000000;
        font: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        width: 105px;
        height: 15px;
        opacity: 1;
        left: 425px;
    }
    #mic:hover ~ #text {
        visibility: visible;
    }
    #icon{
        display: flex;
        position: relative;
        cursor: default;
        left: 0px; 
        top: -50px;
        border: 0;
        background: transparent;
        outline: none;
        padding: 0px 8px;
        width: 24px;
        height: 24px;
        line-height: 44px;
        z-index: 700;
        align-items: center;
        justify-content: center;
    }
    #butn{
        display: block;
        height: 58px;
        position: relative;
        top: -35px;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
    }
#form-lucky{
        display: block;
        width: auto; 
        min-width: 54px;
        height: auto;
        min-height: 35px;
        left: 255px;
        top: 10px;
        font-family: arial;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        margin:  11px 4px;
        padding: 0px 16px;
        z-index: 50px;
        white-space: nowrap;
        position: absolute;
        background-color: #f2f2f2;
        background-image: -o-linear-gradient(top #f5f5f5 #f1f1f1);
        border-radius: 4px;
        color: #5f6368;
        overflow: hidden;
        border-color: none;
        border: 1px solid transparent;
        outline: none;
    }
    #form-lucky[type="submit"]{
        border: 1px solid transparent;
    }
    #form-lucky:hover{
        border-color: #5f6368;
    }
#form-search{
        display: block;
        width: 124px;
        min-width: 124px;
        height: 35px;
        left: 115px;
        top: 10px;
        font-family: arial;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        user-select: none;
        margin: 11px 4px;
        padding: 0px 16px;
        z-index: 50px;
        white-space: nowrap;
        line-height: 27px;
        position: absolute;
        background-color: #f2f2f2;
        background-image: -o-linear-gradient(top #f5f5f5 #f1f1f1);
        border-radius: 4px;
        color: #5f6368;
        appearance: #f2f2f2;
        outline: none;
    }
    #form-search[type="submit"]
    {
        border: 1px solid transparent;
    }
    #form-search[type="submit"]:hover
    {
        border-color: #5f6368;
    }
    #footer{
        display: block;
        height: 85px;
        width: 100%;
        position: absolute;
        top: 545px;
        margin-top: 15px;
    } 
    #fpage{
        top: 100%;
        position: relative;
        width: 100%;
        height: 40px;
        background-color:#f2f2f2;
        line-height: 40px;
        border-top: 1px solid #e4e4e4; 
        font-family: arial;
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;

    }
    #fbarl ul{ 
       line-height: 40px;
       margin-left: 30px;
       position: relative;
       text-decoration: none;
       text-align: left;
       align-items: center;
       visibility: visible;
       cursor: pointer;
    }
    #fbarl ul:hover{
        text-decoration: underline 1px #5f6368; 
    }
    #addv{
        text-decoration: none;
        color:#5f6368;
        padding-left: 27px;
        padding-right: 30px;
        margin: 0px;
    }
    #addv:hover{
        text-decoration: underline 1px #5f6368; 
    }
    #busi{
        text-decoration: none;
        color:#5f6368;
        padding-left: 2px;
        margin: 0px;
    }
    #busi:hover{
        text-decoration: underline 1px #5f6368; 
    }
    #abou{
        text-decoration: none;
        color:#5f6368;
        padding-left: 27px;
        margin: 0px;
    }
    #abou:hover{
        text-decoration: underline 1px #5f6368; 
    }
    #hows{
        text-decoration: none;
        color:#5f6368;
        padding-left: 27px;
        margin: 0px;
        position: relative;
    }
    #hows:hover{
        text-decoration: underline 1px #5f6368; 
    }
    #bar{
        left: 0px;
        line-height: 40px;
        margin-right: 0px;  
        font-size: 14px;
        text-align: left;
        cursor: pointer;
        visibility: visible;
        position: relative;
        width: 100%;
        
    } 
    #bar:hover{
        text-decoration: underline 1px #5f6368; 
    }
    #privy{
        white-space: nowrap;
        text-decoration: none; 
        color:#5f6368;
        padding-left: 15px;
        margin: 0px;
    }
    #privy:hover{
        text-decoration: underline 1px #5f6368; 
     }
    #term{
        text-decoration: none;
        color:#5f6368;
        padding-left: 27px;
        margin: 0px;
    }
    #term:hover{
        text-decoration: underline 1px #5f6368; 
     }
    #setn{
        text-decoration: none;
        visibility:visible;
        white-space: nowrap;
        margin: 0px;
        color: #5f6368;
        padding-left: 27px;
        padding-right: 30px;
        position: relative; 
    }
    #setn:hover{
       text-decoration: underline 1px #5f6368; 
    }
    @media screen and (max-width:60%){
        #footer{
           float: none;
           align-items: center;
        }
        #bar{
           float: none;
           align-items: center;
        }
    }
  